<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#1b6ec2" />
    <meta name="description" content="Company basic introduction, projects, research and contact details." />
    <title>@ViewData["Title"] - A.i.Cloud®</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="manifest" href="~/manifest.webmanifest" />
    <link rel="canonical" href="https://localhost:5001" />
    <link rel="apple-touch-icon" href="~/images/iOS192Spangle.png" />
    <link rel="icon" sizes="512x512" href="~/images/512Spangle.png" />
    <link rel="mask-icon" sizes="192x192" href="~/images/Mask192.png" />
</head>
    <body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-page="/Index"><img src="~/images/LTSpangle.png" height="42" width="42" alt="Logo Small" asp-append-version="true" /> A.i.Cloud®</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Index">Intro</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Access">Access</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Power">Power</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Security">Security</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/TeleCom">Communication</a>
                            </li>
                            <li class="nav-item" >
                                <a class="nav-link text-dark" asp-area="" asp-page="/Config">Config</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Contact">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                            </li>
                        </ul>
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <footer class="border-top footer position-fixed navbar-light bg-white text-muted text-md-center fixed-bottom">
            <div class="container text-center">
                | A.i.Cloud® | All rights reserved. | <a asp-area="" asp-page="/Privacy">Privacy Policy</a> | Copyright &copy; 2018 to Present | @DateTime.Now |
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>