@page
@model AiWAR.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"] Details</h1>
    <p>__________________________________________________________________________________</p>
    <address>
        <strong title="e-Mail">Mail:</strong> <a href="mailto:aicloudptyltd@gmail.com">Support</a><br>
        <strong title="Phone">Phone:</strong> +27 82 594 8941<br>
        <strong title="Whats-Up">Message:</strong> +27 82 594 8941
    </address>
    <p><strong title="Physical Location">Address:</strong> 10 Nautilus Street, Bloubosrand, Randburg, Gauteng, ZA, 2188</p>
    <p>__________________________________________________________________________________</p>
    <img class="img-fluid" src="~/images/CDSpangle.png" alt="Contact Logo" width="163" height="163" asp-append-version="true" />
    <p>
        <br />
        In short we specialise in scalable tailored solutions that integrate renewable energy sources, IoT devices and cloud based software services.
        <br />
    </p>
    <div class="text-center align-content-lg-center">
        <a type="button" class="btn btn-primary btn-lg .disabled col-2" href="/TeleCom" role="button" aria-disabled="true" tabindex="-1" title="Communication">◀️</a>
        <a type="button" class="btn btn-primary btn-lg .disabled col-2" href="/Privacy" role="button" aria-disabled="true" tabindex="-1" title="Privacy">▶️</a>
    </div>
</div>