@page
@model AiWAR.Pages.PrivacyModel
@{
    ViewData["Title"] = "Privacy";
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"] Policy</h1>
    <img class="img-thumbnail" src="~/images/PPDiscreet.png" width="1200" height="630" alt="Privacy Descreet" asp-append-version="true" />
    <p>
        <br />
        Simply put we respect your privacy! All of the information collected is purely diagnostic for use in system maintenance and development.<br />
        Should there be any personal information detected, we will never share, sell or use it without your consent. Additionally, any 
        transmitted or provided data along with personal information is owned and provided by their rightful owners and partners merely for 
        academic reason. 
        Should you have any questions please do not hesitate to give us a shout on: <a href="/Contact">info@aicloudptyltd.com</a>.
    </p>
    <img class="img-thumbnail" src="~/images/PPDiagram.png" width="700" height="400" alt="Privacy Diagram" asp-append-version="true" >
    <p>
        In short we specialise in scalable tailored solutions that integrate renewable energy sources, IoT devices and cloud based software services.
        <br />
    </p>
    <div class="text-center align-content-lg-center" hidden="hidden">
        <a type="button" class="btn btn-primary btn-lg .disabled col-2" href="/Contact" role="button" aria-disabled="true" tabindex="-1" title="Contact">◀️</a>
        <a type="button" class="btn btn-primary btn-lg .disabled col-2" href="/" role="button" aria-disabled="true" tabindex="-1" title="Intro">▶️</a>
        </p>
    </div>
</div>